# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
venv/
.env/
.env

# Django
*.log
db.sqlite3
media/
staticfiles/

# Migrations
**/migrations/*.py
!**/migrations/__init__.py

# Environment variables
.env.*
.env.neon
!.env.example

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
*.pid
*.sock
docker-compose.neon.yml

# Coverage / testing
.coverage
htmlcov/

# Pytest
.pytest_cache/

# MyPy
.mypy_cache/

# Build
dist/
build/
